@import "../../../assets/sass/variables.scss";

.order-component {
  position: relative;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid $placeholder-color;

  .top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .assign-to{
      z-index: 10;
    }

    h2 {
      font-size: 20px;
      color: $highlight-color;
    }
  }
  .bottom-side {
    display: flex;
    justify-content: space-between;

    &.my-orders {
      .main-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
      }
      .elapsed-time {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
      }
    }

    span {
      font-weight: 500;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .elapsed-time {
      span {
        color: $placeholder-color;
      }
    }
  }
}
